@font-face {
  font-family: "Boska-Variable";
  src: url("fonts/Fonts/OTF/Boska-Regular.otf") format("woff2"),
    url("fonts/Fonts/TTF/Boska-Variable.ttf") format("woff"),
    url("fonts/Fonts/WEB/fonts/Boska-Regular.ttf") format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Switzer-Variable";
  src: url("fonts/switzer/OTF/Switzer-Regular.otf") format("woff2"),
    url("fonts/switzer/Variable/Switzer-Variable.ttf") format("woff"),
    url("fonts/switzer/WEB/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
* {
  margin: auto;
  padding: 0;
}

.header {
  background-color: #1b3936;
  width: 1400px;
  height: 1400px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1214px;
  height: 33px;
  padding: 1rem 2rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 30px;
  height: 32px;
  margin-right: 10px;
}

.logo-text {
  color: #75ff69;
  font-size: 29px;
  font-family: "Arial", sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #75ff69;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line-img {
  position: absolute;

  left: 100px;
  top: -100px;
  overflow: hidden;
}

.hero-img {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 115px;
}
.hero-text {
  position: absolute;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  top: -50px;
}
.cosy {
  font-size: 262px;
  font-family: "Boska-Variable";
  font-weight: 400;
}
.cabin {
  font-size: 262px;
  font-family: "Boska-Variable";
  font-weight: 400;
  font-style: italic;
  position: relative;
  left: 150px;
  color: #75ff69;
}
.inthe {
  font-size: 32px;
  font-family: 700;
}
.woods {
  font-size: 262px;
  font-family: "Boska-Variable";
}

.hero-text p {
  font-family: "Switzer-Variable";
}

.play-icon{
    position: absolute;
    bottom: 180px;
    right:60px;
}